img{
    width: 500px;
    height: 500px;
}
.section{
    background-color: black;
}
.jumbotron{
    color: white;
    background: black;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
i{
    color: white;
}